@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #f0efef;
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1{
  line-height: 20px;
}

a:focus{
  outline: none;
  border: none;
}

.register{
  box-shadow: 2px 4px 4px #EA9FB3;
  border-radius: 50px;
}
.fossmec{
  background: linear-gradient(180deg, #fab416 0%, #ff8a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.countdown {
   font-weight: 700;
   font-size: 3.85rem;
   color: #ffffff;
   -webkit-text-stroke: 2px #CC1848;
}